In [8]:
import pandas as pd

In [9]:
# outer join of three dataframes: income.csv, health_hosp.csv and health_days.csv
health_hosp = pd.read_csv('health_hosp.csv')
health_days = pd.read_csv('health_days.csv')
income = pd.read_csv('income.csv')

In [10]:
# outer join of three dataframes: income.csv, health_hosp.csv and health_days.csv
health_hosp = pd.read_csv('health_hosp.csv')
health_days = pd.read_csv('health_days.csv')
income = pd.read_csv('income.csv')

# merge health_hosp and health_days
health = pd.merge(health_hosp, health_days, on=['municipality code', 'year', 'gender', 'age', 'ethnicity', 'education'], how='outer')

# merge health and income
copenhagen_data = pd.merge(health, income, on=['municipality code', 'year', 'gender', 'age', 'ethnicity', 'education'], how='outer')

In [11]:
# convert municipality code to municipality name

municipality_list = [[0, 'Denmark'], [1, 'Greater Copenhagen'], [101, 'Copenhagen'], [147, 'Frederiksberg'], [155, 'Dragør'], [185, 'Tårnby'], [165, 'Albertslund'], [151, 'Ballerup'], [153, 'Brøndby'], [190, 'Furesø'], [157, 'Gentofte'], [159, 'Gladsaxe'], [161, 'Glostrup'], [253, 'Greve'], [163, 'Herlev'], [167, 'Hvidovre'], [169, 'Høje-Taastrup'], [175, 'Rødovre'], [183, 'Ishøj'], [173, 'Lyngby-Taarbæk'], [230, 'Rudersdal'], [187, 'Vallensbæk']]
municipality_df = pd.DataFrame(municipality_list, columns=['municipality code', 'municipality'])

copenhagen_data = pd.merge(copenhagen_data, municipality_df, on='municipality code', how='left')
cols = ['municipality', 'municipality code', 'year', 'gender', 'age', 'ethnicity', 'education', 'income', 'income observations', 'weighted_inc_mun', 'weighted_inc_gen_mun', 'weighted_inc_age_mun', 'weighted_inc_eth_mun', 'weighted_inc_edu_mun', 'days in hospital', 'days in hospital observations', 'weighted_hosp_days_mun', 'number of hospitalizations', 'number of hospitalizations observations', 'weighted_hospitalizations_mun']
copenhagen_data = copenhagen_data[cols]

In [12]:
# save to csv
copenhagen_data.to_csv('copenhagen_data.csv', index=False)

In [13]:
copenhagen_data.head()

,municipality,municipality code,year,gender,age,ethnicity,education,income,income observations,weighted_inc_mun,weighted_inc_gen_mun,weighted_inc_age_mun,weighted_inc_eth_mun,weighted_inc_edu_mun,days in hospital,days in hospital observations,weighted_hosp_days_mun,number of hospitalizations,number of hospitalizations observations,weighted_hospitalizations_mun
0,Denmark,0,2005,Men,18-29,Danish,Higher education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.186,30425.0,0.001379,0.049,30425.0,0.000364
1,Denmark,0,2005,Men,18-29,Danish,No higher education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.269,296267.0,0.019420,0.076,296267.0,0.005493
2,Denmark,0,2005,Men,18-29,Immigrants and descendants,Higher education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.159,1925.0,0.000075,0.047,1925.0,0.000022
3,Denmark,0,2005,Men,18-29,Immigrants and descendants,No higher education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256,26048.0,0.001625,0.078,26048.0,0.000496
4,Denmark,0,2005,Men,18-29,Non-western immigrants and descendants,Higher education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.155,1096.0,0.000041,0.047,1096.0,0.000013