In [1]:
import pandas as pd

In [2]:
# outer join of three dataframes: income.csv, health_hosp.csv and health_days.csv
health_hosp = pd.read_csv('health_hosp.csv')
health_days = pd.read_csv('health_days.csv')
income = pd.read_csv('income.csv')

In [3]:
# outer join of three dataframes: income.csv, health_hosp.csv and health_days.csv
health_hosp = pd.read_csv('health_hosp.csv')
health_days = pd.read_csv('health_days.csv')
income = pd.read_csv('income.csv')

# merge health_hosp and health_days
health = pd.merge(health_hosp, health_days, on=['municipality code', 'year', 'gender', 'age', 'ethnicity', 'education'], how='outer')

# merge health and income
copenhagen_data = pd.merge(health, income, on=['municipality code', 'year', 'gender', 'age', 'ethnicity', 'education'], how='outer')

In [4]:
# convert municipality code to municipality name

municipality_list = [[0, 'Denmark'], [1, 'Greater Copenhagen'], [101, 'Copenhagen'], [147, 'Frederiksberg'], [155, 'Dragør'], [185, 'Tårnby'], [165, 'Albertslund'], [151, 'Ballerup'], [153, 'Brøndby'], [190, 'Furesø'], [157, 'Gentofte'], [159, 'Gladsaxe'], [161, 'Glostrup'], [253, 'Greve'], [163, 'Herlev'], [167, 'Hvidovre'], [169, 'Høje-Taastrup'], [175, 'Rødovre'], [183, 'Ishøj'], [173, 'Lyngby-Taarbæk'], [230, 'Rudersdal'], [187, 'Vallensbæk']]
municipality_df = pd.DataFrame(municipality_list, columns=['municipality code', 'municipality'])

copenhagen_data = pd.merge(copenhagen_data, municipality_df, on='municipality code', how='left')
cols = ['municipality', 'municipality code', 'year', 'gender', 'age', 'ethnicity', 'education', 'income', 'income observations', 'weighted_inc_mun', 'weighted_inc_gen_mun', 'weighted_inc_age_mun', 'weighted_inc_eth_mun', 'weighted_inc_edu_mun', 'days in hospital', 'days in hospital observations', 'weighted_hosp_days_mun', 'weighted_days_gen_mun', 'weighted_days_age_mun', 'weighted_days_eth_mun', 'weighted_days_edu_mun', 'number of hospitalizations', 'number of hospitalizations observations', 'weighted_hospitalizations_mun', 'weighted_hosp_gen_mun', 'weighted_hosp_age_mun', 'weighted_hosp_eth_mun', 'weighted_hosp_edu_mun']
copenhagen_data = copenhagen_data[cols]

In [5]:
# save to csv
copenhagen_data.to_csv('copenhagen_data.csv', index=False)

In [6]:
copenhagen_data.head()

,municipality,municipality code,year,gender,age,ethnicity,education,income,income observations,weighted_inc_mun,...,weighted_days_age_mun,weighted_days_eth_mun,weighted_days_edu_mun,number of hospitalizations,number of hospitalizations observations,weighted_hospitalizations_mun,weighted_hosp_gen_mun,weighted_hosp_age_mun,weighted_hosp_eth_mun,weighted_hosp_edu_mun
0,Denmark,0,2005,Men,18-29,Danish,Higher education,NaN,NaN,NaN,...,0.007559,0.001502,0.006004,0.049,30425.0,0.000364,0.000736,0.001991,0.000396,0.001588
1,Denmark,0,2005,Men,18-29,Danish,No higher education,NaN,NaN,NaN,...,0.106454,0.021147,0.025210,0.076,296267.0,0.005493,0.011119,0.030076,0.005974,0.007125
2,Denmark,0,2005,Men,18-29,Immigrants and descendants,Higher education,NaN,NaN,NaN,...,0.000409,0.001510,0.000325,0.047,1925.0,0.000022,0.000045,0.000121,0.000446,0.000096
3,Denmark,0,2005,Men,18-29,Immigrants and descendants,No higher education,NaN,NaN,NaN,...,0.008907,0.032896,0.002109,0.078,26048.0,0.000496,0.001003,0.002714,0.010023,0.000643
4,Denmark,0,2005,Men,18-29,Non-western immigrants and descendants,Higher education,NaN,NaN,NaN,...,0.000227,0.001284,0.000180,0.047,1096.0,0.000013,0.000025,0.000069,0.000404,0.000055